body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    color: white;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
    color: gray;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: aquamarine;
}

footer {
    font-family: Verdana;
    text-align: right;
    color: gray;
    font-size: 12px;
}

img {
    display: block;
    margin: auto;
}

iframe {
    display: block;
    margin: auto;
}